<table class="table">
<thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Location</th>
    </tr>
    <tbody>
        {{#events}}
        <tr>
            <td scope="row">{{ title }}</td>
            <td scope="row">{{ description }}</td>
            <td scope="row">{{ location }}</td>
        </tr>
        {{/events}}
    </tbody>
</thead>
</table>